html {
   width: 100vw;
   height: 100vh;
   margin: 0;
   // background-color: #212121;
}
#root {
   // background-color: #212121;
}
code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
